* {
  background-color: rgb(224, 233, 253);
  font-family: "Press Start 2P", cursive;
}
li {
  padding-bottom: 3px;
  color: white;
  text-shadow: 1.5px 1px 3px black;
  list-style-type: none;
}

p {
  color: black;
  text-shadow: 0.5px 0.5px white;
  text-align: center;
  font-size: xx-large;
}
h2 {
  margin-top: -0.5rem;
}
input {
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}
button {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  border: 4px double black;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  margin-top: 3px;
}

button:hover {
  box-shadow: 4px 3px 6px black;
}

#letsgo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  background-color: white;
  color: black;
  font-size: x-large;
  text-shadow: 0.5px 0.5px black;
  text-align: center;
}
#quiz {
  display: none;
}

#result {
  display: none;
}

#gameover {
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
}

#highScore {
  height: 1.5rem;
  border: groove 2px;
}
#highscorePage {
  display: none;
  width: 50%;
  border: solid;
  border-color: silver;
  border-bottom-style: groove;
  padding-bottom: 0.3rem;
  background: lightsteelblue;
}

#highscoreheader {
  display: flex;
  justify-content: space-around;
  border-bottom-style: outset;
  margin-bottom: 0.5rem;
  background-color: white;
  color: black;
}
#highscorebox {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#initials {
  margin: 0.5rem;
  height: 1.75rem;
}

#highscore-initials {
  display: inline-block;
  padding-left: 9.5rem;
  font-weight: bold;
}

#highscore-user {
  float: right;
  padding-right: 8.75rem;
  font-weight: bold;
}

#finalScore {
  padding-bottom: 0.5rem;
  font-size: x-large;
  font-weight: bold;
}
